section#team
  .container
    .row.section-heading
      h1 Meet the Team
      .block
      p
        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    .row
      .three.columns
        img(src='http://placehold.it/220x220' width='220' height='220' alt='')
        h4 Naruto Uzumaki
        p Creative Director
        span.typcn.typcn-social-facebook-circular.icon
        span.typcn.typcn-social-instagram-circular.icon
        span.typcn.typcn-social-google-plus-circular.icon
        span.typcn.typcn-social-linkedin-circular.icon
      .three.columns
        img(src='http://placehold.it/220x220' width='220' height='220' alt='')
        h4 Sasuke Uchiha
        p Lead Designer
        span.typcn.typcn-social-facebook-circular.icon
        span.typcn.typcn-social-instagram-circular.icon
        span.typcn.typcn-social-google-plus-circular.icon
        span.typcn.typcn-social-linkedin-circular.icon
      .three.columns
        img(src='http://placehold.it/220x220' width='220' height='220' alt='')
        h4 Shikamaru Nara
        p Designer
        span.typcn.typcn-social-facebook-circular.icon
        span.typcn.typcn-social-instagram-circular.icon
        span.typcn.typcn-social-google-plus-circular.icon
        span.typcn.typcn-social-linkedin-circular.icon
      .three.columns
        img(src='http://placehold.it/220x220' width='220' height='220' alt='')
        h4 Sakura Haruno
        p Designer
        span.typcn.typcn-social-facebook-circular.icon
        span.typcn.typcn-social-instagram-circular.icon
        span.typcn.typcn-social-google-plus-circular.icon
        span.typcn.typcn-social-linkedin-circular.icon