header#header
  .main_nav
    .container
      .mobile-toggle
        span
        span
        span
      nav
        ul
          li
            a.smoothscroll(href='#header') Home
          li
            a.smoothscroll(href='#about') About
          li
            a.smoothscroll(href='#skills') Services
          li
            a.smoothscroll(href='#portfolio') Work
          li
            a.smoothscroll(href='#contact') Contact
  .title
    div
      span.typcn.typcn-heart-outline.icon.heading
    .smallsep.heading
    h1.heading  Clean &amp; Simple
    h2.heading Lorem ipsum dolor sit amet
    a.smoothscroll(href='#about')
      .mouse
        .wheel
  a.smoothscroll(href='#about')
    .scroll-down