section#portfolio
  .container
    h1 Work
    .block
    .row
      .three.columns
        img.image(src='img/cat.jpg' alt='Work One')
      .three.columns
        img.image(src='img/cat.jpg' alt='Work Two')
      .three.columns
        img.image(src='img/cat.jpg' alt='Work Three')
      .three.columns
        img.image(src='img/cat.jpg' alt='Work Four')
    .row(style='margin-top: 30px;')
      .three.columns
        img.image(src='https://placehold.it/220x220' alt='Work Five')
      .three.columns
        img.image(src='https://placehold.it/220x220' alt='Work Six')
      .three.columns
        img.image(src='https://placehold.it/220x220' alt='Work Seven')
      .three.columns
        img.image(src='https://placehold.it/220x220' alt='Work Eight')