section#contact
  .container
    h1 Contact
    .block
    form
      .row
        .six.columns
          label(for='exampleRecipientInput') Name
          input.u-full-width(type='text')
        .six.columns
          label(for='exampleEmailInput') Email
          input.u-full-width(type='email')
      .row.six
        label(for='exampleMessage') Message
        textarea.u-full-width
        input.button-primary(type='submit' value='Submit')