section#skills
  .container
    h1 Services
    .block
    .row
      .one-third.column
        h3 Design
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus.
      .one-third.column
        h3 Development
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus.
      .one-third.column
        h3 Marketing
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus.
    .row
      .eight.columns
        .progressBar
          h4 HTML5
          .progressBarContainer
            .progressBarValue.value-90
        .progressBar
          h4 CSS3
          .progressBarContainer
            .progressBarValue.value-80
        .progressBar
          h4 JavaSkript
          .progressBarContainer
            .progressBarValue.value-30
        .progressBar
          h4 React
          .progressBarContainer
            .progressBarValue.value-70
      .four.columns
        p
          | Lorem ipsum dolor sit amet, enim soluta consectetur adipisicing elit. Sit, eius, itaque, porro, beatae impedit officia tenetur reiciendis in quia eum autem. Enim soluta consectetur adipisicing elit.