footer
  .container
    .row
      .nine.columns
        p Created 2021
      .three.columns
        span.typcn.typcn-social-facebook-circular.socialIcons
        span.typcn.typcn-social-instagram-circular.socialIcons
        span.typcn.typcn-social-google-plus-circular.socialIcons
        span.typcn.typcn-social-linkedin-circular.socialIcons